<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food tracking</title>
</head>
<body ng-controller="ctrl">
<md-content>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2>
        <span>Foody - трекер питания <span class="glyphicon glyphicon-cutlery"></span></span>
      </h2>
    </div>
  </md-toolbar>
  <h1></h1>
  <div layout="column" layout-padding>
    <md-radio-group ng-model="foodperson">
      <md-radio-button value="alex" class="md-primary">alex</md-radio-button>
      <md-radio-button value="kristino4ka">kristino4ka</md-radio-button>
    </md-radio-group>
  </div>
  <div layout="row" layout-padding>
    <md-autocomplete
        md-selected-item="selectedFood"
        md-search-text="searchFood"
        md-items="item in searchProducts(searchFood)"
        md-item-text="item.p.name"
        md-min-length="3"
        placeholder="Что мы сегодня кушали?"
        >
      <md-item-template>
        <span md-highlight-text="searchFood" md-highlight-flags="^i">{{item.p.name}} {{item.p.runame}}</span>
      </md-item-template>
      <md-not-found>
        No states matching "{{searchText}}" were found.
        <a ng-click="newProduct(searchText)">Create a new one!</a>
      </md-not-found>
    </md-autocomplete>
    <md-autocomplete ng-model="foodweight"
        md-selected-item="selectedWeight"
        md-search-text="searchWeight"
        md-items="item in weightHints"
        md-item-text="item"
        md-min-length="1"
        placeholder="Сколько граммов?">
      <md-item-template>
        <span md-highlight-text="searchWeight" md-highlight-flags="^i">{{item}} г.</span>
      </md-item-template>
    </md-autocomplete>
  </div>
  <div layout="row" layout-padding>
    <md-datepicker ng-model="fooddate" md-placeholder=""></md-datepicker>
    <md-button class="md-raised md-warn" ng-click="putFoody()">Затрекать</md-button>
  </div>
  <h2>List of food</h2>
  <div>
    <select ng-options="pn for pn in personNames" ng-model="piePerson" ng-change="refreshChart()"></select>
    <select ng-options="d.desc for d in chartDatePeriods track by d.id" ng-model="pieDate" ng-change="refreshChart()"></select>
    <nvd3 options="pieOptions" data="pieData"></nvd3>
    <nvd3 options="barChartOptions" data="barData"></nvd3>
    </div>
  </div>
  <table class="table">
    <thead>
      <th>ID</th>
      <th>person</th>
      <th>date</th>
      <th>name</th>
      <th>weight</th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat="f in foodies">
        <td>{{f.id}}</td>
        <td>{{f.person}}</td>
        <td>{{f.date}}</td>
        <td>{{f.name}}</td>
        <td>{{f.weight}}</td>
        <td><span class="glyphicon glyphicon-trash" style="cursor: pointer" ng-click="deleteFoody(f)"></span></td>
      </tr>
    </tbody>
  </table>
  <label>Choose other endpoint (than this host)</label>
  <input type="checkbox" ng-model="otherEndpoint">
  <select ng-show="otherEndpoint" ng-options="e for e in endpoints" ng-model="endpoint" ng-change="refreshFoodies()"></select>
</md-content>
</body>

<script src="lib/angular.min.js"></script>
<script src="lib/d3.js"></script>
<script src="lib/nv.d3.min.js"></script>
<script src="lib/angular-nvd3.min.js"></script>
<script src="lib/angular-animate.min.js"></script>
<script src="lib/angular-aria.min.js"></script>
<script src="lib/angular-material.min.js"></script>
<script src="food.js"></script>
<link rel="stylesheet" href="bootstrap.css"/>
<link rel="stylesheet" href="lib/nv.d3.min.css"/>
<link rel="stylesheet" href="lib/angular-material.min.css"/>
<style>
nvd3 > svg {
  display: inline-block!important;
}
</style>
</html>
