<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food tracking</title>
</head>
<body ng-controller="ctrl">
  <h1>Food tracking</h1>
  <label>endpoint</label>
  <select ng-options="e for e in endpoints" ng-model="endpoint" ng-change="refreshFoodies()"></select>
  <h2>create new food</h2>
  <label>Describe the food</label>
  <input ng-model="foodname">
  <select ng-options="pn for pn in personNames" ng-model="foodperson"></select>
  <input type="number" ng-model="foodweight">
  <input type="date" ng-model="fooddate">
  <button ng-click="putFoody()">Create</button>
  <h2>List of food</h2>
  <table class="table">
    <thead>
      <th>ID</th>
      <th>person</th>
      <th>date</th>
      <th>name</th>
      <th>weight</th>
    </thead>
    <tbody>
      <tr ng-repeat="f in foodies">
        <td>{{f.id}}</td>
        <td>{{f.person}}</td>
        <td>{{f.date}}</td>
        <td>{{f.name}}</td>
        <td>{{f.weight}}</td>
      </tr>
    </tbody>
  </table>
</body>
<script src="angular.min.js"></script>
<script src="food.js"></script>
<link rel="stylesheet" href="bootstrap.css"/>
</html>
